services:
  pihole:
    container_name: pihole
    image: pihole/pihole:2025.11.1@sha256:91dc91ddd413bf461c283204558f8f21839851e9824799075a7ceff7c77eea40
    labels:
      - traefik.http.routers.pihole.rule=Host(`pihole.spaceduck.cloud`)
      - traefik.http.services.pihole.loadbalancer.server.port=80
      - traefik.http.routers.pihole.tls=true
      - traefik.http.routers.pihole.tls.certresolver=letsencryptprod
    ports:
      - "53:53/tcp"
      - "53:53/udp"
    environment:
      TZ: 'America/Halifax'
      # WEBPASSWORD: 'set a secure password here or it will be random'
    volumes:
      - pihole:/etc/pihole
      - dnsmasq:/etc/dnsmasq.d
    restart: unless-stopped
    networks:
      - pihole
      - traefik
  # orbital-sync:
  #   image: mattwebbio/orbital-sync:1.8.4@sha256:39ade356bf46018b262da9aab9775f3b5fc6f850a4ac6002b699d9fd0b35c240
  #   environment:
  #     PRIMARY_HOST_BASE_URL: http://pihole
  #     PRIMARY_HOST_PASSWORD: $SINNOH_PIHOLE_PASSWORD
  #     SECONDARY_HOSTS_1_BASE_URL: http://192.168.3.4:20720
  #     SECONDARY_HOSTS_1_PASSWORD: $JOHTO_PIHOLE_PASSWORD
  #     INTERVAL_MINUTES: 5
  #     VERBOSE: 'false'
  #     SYNC_V5_WHITELIST: false
  #     SYNC_V5_REGEX_WHITELIST: false
  #     SYNC_V5_BLACKLIST: false
  #     SYNC_V5_REGEX_LIST: false
  #     SYNC_V5_AD_LIST: false
  #     SYNC_V5_CLIENT: false
  #     SYNC_V5_GROUP: false
  #     SYNC_V5_AUDIT_LOG: false
  #     SYNC_V5_STATIC_DHCP_LEASES: false
  #     SYNC_V5_FLUSH_TABLES: false
  #   networks:
  #     - pihole

  nebula-sync:
    image: ghcr.io/lovelaze/nebula-sync:v0.11.1@sha256:e6bb9ac7dbf4471b066cb5db74929c6fa7cfa2251a0682fa85f6da8f687ba4bf
    container_name: nebula-sync
    depends_on:
      - pihole
    environment:
      PRIMARY: http://pihole|$SINNOH_PIHOLE_PASSWORD
      REPLICAS: http://192.168.3.4:20720|$JOHTO_PIHOLE_0_PASSWORD,http://192.168.3.2:20720|$JOHTO_PIHOLE_1_PASSWORD
      FULL_SYNC: 'false'
      SYNC_CONFIG_DNS: 'true'
      CRON: '*/5 * * * *'
    networks:
      - pihole
    restart: unless-stopped
networks:
  traefik:
    name: traefik_default
    external: true
  pihole:
volumes:
  pihole:
  dnsmasq:
