services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:v2.5.2
    labels:
      - traefik.http.routers.immich.rule=Host(`immich.spaceduck.cloud`)
      - traefik.http.services.immich.loadbalancer.server.port=2283
      - traefik.http.routers.immich.tls=true
      - traefik.http.routers.immich.tls.certresolver=letsencryptprod
    # extends:
    #   file: hwaccel.transcoding.yml
    #   service: cpu # set to one of [nvenc, quicksync, rkmpp, vaapi, vaapi-wsl] for accelerated transcoding
    volumes:
      - immich-data:/data
      - /etc/localtime:/etc/localtime:ro
    environment:
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: immich
      DB_DATABASE_NAME: immich
    depends_on:
      - redis
      - database
    restart: always
    healthcheck:
      disable: false
    networks:
      - immich
      - traefik

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:v2.5.2
    # extends:
    #   file: hwaccel.ml.yml
    #   service: cpu # set to one of [armnn, cuda, rocm, openvino, openvino-wsl, rknn] for accelerated inference
    # ports:
    #   - 3003:3003
    volumes:
      - model-cache:/cache
    environment:
      DB_PASSWORD: ${DB_PASSWORD}
      DB_USERNAME: immich
      DB_DATABASE_NAME: immich
    restart: always
    healthcheck:
      disable: false
    networks:
      - immich

  redis:
    container_name: immich_redis
    image: docker.io/valkey/valkey:8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
    healthcheck:
      test: redis-cli ping || exit 1
    restart: always
    networks:
      - immich

  database:
    container_name: immich_postgres
    image: ghcr.io/immich-app/postgres:14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
    environment:
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_USER: immich
      POSTGRES_DB: immich
      POSTGRES_INITDB_ARGS: '--data-checksums'
    volumes:
      - postgres-data:/var/lib/postgresql/data
    shm_size: 128mb
    restart: always
    networks:
      - immich

volumes:
  model-cache:
  postgres-data:
  immich-data:
    driver_opts:
      type: "nfs"
      o: "addr=192.168.1.2,nolock,soft,rw"
      # o: "addr=truenas.spaceduck.cloud,nolock,soft,rw"
      device: ":/mnt/greatball/global/shared/pictures"

networks:
  traefik:
    name: traefik_default
    external: true
  immich:
